<html>
<head>
<meta http-equiv="content-type" content="text/html"  ; charset="UTF-8">
<style type="text/css">
body{
font-family:Georga;
font-size:14;
}
h1{font-family:Arial;
   font-size:27;
   font-style:bold;
   text-align: center}	

.Logo {
  border: 5px outset blue;
  background-image: url("mountain5.jpg");    
  text-align: center; color: DarkTurquoise ; font-weigt: 1500; font-size: 49px; font-family: serif;
 text-shadow: 2px 2px #00008B; lettet-spacing: 20px;
}

.PostLogo {
        font-size: 17px; font-family: Georgia; color: Maroon} 
.Rubrika{
	font-size:27px; color:MediumOrchid;  font-family:Arial; font-weight:900}
</style>
</head>

 
</html>